body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #171717;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}

@font-face {
  font-family: Fonty;
  src: url(Cyber\ Alert.otf);
}


.mainRectangle {
  position: absolute;
  height: calc(100vh - 2vw);
  width: calc(100vw - 2vw);
  margin: 1vw;
  font-family: Fonty;
  font-size: 26vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mainRectangle .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/vectors/Union.svg");
  background-size: 100% 100%;  
  z-index: -1;
  transition: opacity 0.4s ease;
  opacity: 1;
}

.mainRectangle .surtr {position: absolute;width: 53vw;bottom: 0;}
img.fade-out,.mainRectangle .background.fade-out {opacity: 0;}
img,.mainRectangle .background {transition: opacity 0.4s ease;opacity: 1;}

.SIAH {
  position: absolute;
  margin-top: 10vh;
}
.SIAH img {
  width: 80vw;
}


.topBar {
  position: absolute;
  height: 10vh;
  width: 90vw;
  top: 0.6vh;
  font-family: Fonty;
  font-size: 1.2vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.topBar a {
  color: white;
  text-decoration: none;
  font-family: Fonty;
  font-size: 1.2vw;
}

.Pixiv {animation: side 2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 2s forwards; margin-left: -150vw;}
.Drawings {animation: side 2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 1.7s forwards;}
.Photos {animation: side 2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 1.4s forwards;}
.Github {animation: side 2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 1.1s forwards;}

#darkMode {
  position: absolute;
  height: 4vw;
  width: 4vw;
  top: 1.2vh;
  left: -72.5vw;
  background: white;
  clip-path: circle(50%);
  animation: side 2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 2.3s forwards;
}

.line {
  position: relative;
  background:white;
  height: .7vh;
  width: 72vw;
  margin-top: 42vh;
}

.commissions {
  position: absolute;
  background: white;
  color: #E06B5B;
  height: 7.4vh;
  width: 17vw;
  font-size: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  right: 3.3vh;
  font-family: Fonty;
  top: 1.6vw;
  transition: color .2s ease;   
}

.infoContainer {
  position: absolute;
  width: 93vw;
  height: 15vh;
  margin-top: 74vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.rectangleA, .rectangleB, .rectangleC {
  position: relative;
  height: 15vh;
  background: rgba(0, 0, 0, 0.5);
  border: .3vw solid white;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); 
  margin-top: 30vh;
  font-family: Fonty;
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
}

.rectangleA {
  width: 30vw;
  border-radius: 3vw 0 3vw 0;
  animation: up 1s cubic-bezier(0.3, 0.1, 0.0, 1.0) 3.3s forwards;
}
.rectangleB {
  width: 48vw;
  border-radius: 0 3vw 0 3vw;
  animation: up 1s cubic-bezier(0.3, 0.1, 0.0, 1.0) 3.6s forwards;
}
.rectangleC {
  width: 12vw;
  border-radius: 3vw 0 3vw 0;
  animation: up 1s cubic-bezier(0.3, 0.1, 0.0, 1.0) 3.9s forwards;
  font-size: 1vw;    
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerA, .headerB {
  margin-top: 1.1vh;
  margin-left: 1.5vw;
}

@keyframes up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30vh);
  }
}

@keyframes side {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(150vh);
  }
}

.infoA, .infoB {
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.55vw;
  margin-top: -2.9vh;
}

.infoC {
  font-size: 2vw;
  margin: 0;
  margin-bottom: 2.3vh;
}
