body {
  margin: 0;
  padding: 0;
  background: #171717;
  overflow-x: hidden;
}

.photoContainer {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}
.photoContainer .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.photoContainer .box .dream {
  display: flex;
  flex-direction: column;
  width: 22vw;
  box-sizing: border-box;
}

.photoContainer .box .dream img{
  display: flex;
  flex-direction: column;
  width: 22vw;
  box-sizing: border-box;
  padding: 1.25vh;
  border-radius: 40px;
}

.dream img:hover {
  transform: scale(102%);
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}


.backButton {
  position: absolute;
  height: 3.6vw;
  width: 3.6vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 3vh;
  left: 2vh;
  border-radius: 50%;
  border: .3vw solid white;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.backButton:hover {
  cursor: pointer;
}

.backButton img{
  width: 80%;
  height: auto;
  margin-right: .3vw;
}